@charset "utf-8";

@import url("/css/fonts.css");

body {
  background-color: #444;
}

/* @group Layout */
div#Frame {
    width: 800px;
    margin: 0.5em auto;
    font-family: Verdana, sans-serif;
}

div#Banner {
    text-align: right;
}
div#Banner img {
    position: relative;
    left: 85px;
}

div#Content {
    float: left;
    width: 600px;
    /*
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -webkit-box-shadow: #333 4px 1px 4px;
    -moz-box-shadow: #333 4px 1px 4px;
    background-color: #f6f6f6;
    */
}
/* @end */

/* @group Sidebar */
div#Sidebar {
    float: left;
    width: 200px;
    margin-top: 100px;
    font-size: 8pt;
    text-align: right;
    color: #fff;
}

div#Sidebar ul {
  margin: 0em;
  padding: 0px;
}

div#Sidebar ul li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5em;
  padding: 1px 2px;
  margin: 0px;
}

div#Sidebar ul li a {
  border-width: 0px;
  color: #fff;
  text-decoration: none;
}
/* @end */

/* @group Entry */
div.Entry {
  margin: 0.5em 1em;
  font-size: 11px;
  line-height: 20px;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #f6f6f6;
  text-shadow: #333 1px 1px 4px;
}

div.Entry a {
  color: #fff;
}

div.Entry h1 {
  margin: 0px;
  padding-bottom: 4px;
  font-weight: normal;
}

div.Entry h1 a {
  text-decoration: none;
}

div.Entry span.Date {
  font-style: italic;
}

div.Entry img {
  border: 1px solid #999;
  -moz-box-shadow: #333 1px 1px 4px;
  -webkit-box-shadow: #333 1px 1px 4px;
}

div.Entry img.Center {
  margin: 0px auto;
  text-align: center;
}

div.Entry img.Left {
  float: left;
  margin-right: 0.5em;
}

div.Entry img.Right {
  float: right;
  margin-left: 0.5em;
}
div.EntryFinal {
  text-align: center;
}
/* @end */