@charset "utf-8";

body {
  background-color: #444;
}

a img {
  border-width: 0px;
}

/* @group Layout */
div#Frame {
    width: 800px;
    margin: 0.5em auto;
    font-family: Verdana, sans-serif;
    text-shadow: #333 1px 1px 4px;
}

div#Banner {
    text-align: left;
}

div#Content {
    float: left;
    width: 600px;
    /*
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -webkit-box-shadow: #333 4px 1px 4px;
    -moz-box-shadow: #333 4px 1px 4px;
    background-color: #f6f6f6;
    */
}
/* @end */

/* @group Sidebar */
div#Sidebar {
    float: left;
    width: 200px;
    margin-top: 100px;
    font-size: 8pt;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5em;
}

div#Sidebar ul {
  margin: 0em 0em 2em 0em;
  padding: 0px;
}

div#Sidebar ul li {
  list-style: none;
  padding: 1px 2px;
  margin: 0px;
}

div#Sidebar a {
  border-width: 0px;
  color: #fff;
  text-decoration: none;
}

div#Sidebar ul li a:hover {
  text-decoration: underline;
}

a.PageLink {
  height: 48px;
  display: block;
  margin: 0.2em 0em;
}

a.PageLink img {
  width: 48px;
  float: right;
}
a.PageLink span {
  position: relative;
  top: 1.5em;
  margin-right: 0.5em;
}
a.PageLink span:hover {
  border-bottom: 1px solid #ddd;
}
/* @end */

/* @group Entry */
div.Entry {
  margin: 0.5em 1em;
  font-size: 11px;
  line-height: 20px;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #f6f6f6;
}

div.Entry a {
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

div.Entry h1 {
  margin: 0px;
  padding-bottom: 4px;
}

div.Entry h1 a {
  text-decoration: none;
}

div.Entry span.Date {
  font-style: italic;
}

div.Entry img {
  border: 1px solid #999;
  -moz-box-shadow: #333 1px 1px 4px;
  -webkit-box-shadow: #333 1px 1px 4px;
  margin: 0.25em;
}

div.Entry img.Center {
  margin: 0px auto;
  text-align: center;
}

div.Entry img.Left {
  float: left;
  margin-right: 0.5em;
}

div.Entry img.Right {
  float: right;
  margin-left: 0.5em;
}
div.EntryFinal {
  text-align: center;
}
div.ImageBox {
  width: 100%;
  text-align: center;
}
div.ImageBox span.Caption {
  clear: both;
  display: block;
  font-style: italic;
}
div.prefooter {
  height: 1px;
  clear: both;
}
/* @end */

/* @group Poll */
a.submitLink {
  display: none;
  background-color: #9f9f9f;
  color: #444;
  text-decoration: none;
  padding: 2px 12px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  margin: 8px 20px;
  -moz-box-shadow: rgba(0,0,0,0.25) 1px 1px 3px;
  -webkit-box-shadow: rgba(0,0,0,0.25) 1px 1px 3px;
  width: 4em;
  text-align: center;
}

a.submitLink:hover {
  background-color: #c0c0c0;
  border-color: #fff;
  color: #efefef;
}
form p.Thanks {
  color: #6f6;
}
/* @end */